@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// =====================================
// Common
// =====================================
.p-about {
  padding: 64px 0;
  background-color: $color-bg-main;

  @include mq(pc) {
    padding: 96px 0;
  }
}

.p-about__inner {
  width: 100%;
  // max-width: 1200px;
  // padding: 0 24px;
  margin: 0 auto;
}

// =====================================
// Section(top)
// =====================================
.p-about__layout {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 1600px;
  margin: 0 auto;

  @include mq(pc) {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
}

.p-about__visual {
  @include mq(pc) {
    position: relative;
    width: 60%;
  }
}

.p-about__photo {
  overflow: hidden;
  aspect-ratio: 4 / 5;
  max-height: 540px;
  clip-path: polygon(0 0, 85% 0, 30% 100%, 0 100%);

  @include mq(pc) {
    aspect-ratio: 4 / 3;
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%);
  }
}

.p-about__photo-inner {
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 45%;
    transform: scale(1.4);
    transform-origin: 80% 65%;
    filter: grayscale(1);

    @include mq(pc) {
      transform: scale(1.1);
    }
  }
}

.p-about__copy-sp {
  position: absolute;
  right: 7%;
  top: 19%;
  margin: 0;
  font-family: $font-mincho;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  text-align: start;
  color: $color-text-main;

  @include mq(pc) {
    display: none;
  }
}

.p-about__copy-pc {
  display: none;

  @include mq(pc) {
    display: block;
    font-family: $font-mincho;
    font-weight: 700;
    text-align: start;
    color: $color-text-main;
    font-size: 40px;
    letter-spacing: 0.15em;
    line-height: 1.7;
  }
}

.p-about__body {
  position: relative;
  padding: 0 24px;

  @include mq(pc) {
    align-self: self-end;
    top: 50%;
    flex: 1;
    padding: 0;
  }
}

.p-about__eyebrow {
  font-family: $font-mincho;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $color-text-main;

  @include mq(pc) {
    font-size: 24px;
    letter-spacing: 0.01em;
    margin-top: 24px;
  }
}

.p-about__name {
  margin-top: 16px;
  font-family: $font-mincho;
  font-size: 24px;
  letter-spacing: 0.01em;

  @include mq(pc) {
    margin-top: 24px;
    font-size: 28px;
  }

  span {
    margin-left: 10px;
    font-family: $font-en;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.7;
    color: $color-text-sub;

    @include mq(pc) {
      margin-left: 16px;
      font-size: 16px;
      letter-spacing: 0.01em;
    }
  }
}

.p-about__text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 2.2;
  letter-spacing: 0.02em;
  color: $color-text-sub;
  max-width: 440px;

  @include mq(pc) {
    font-size: 16px;
    line-height: 2.4;
  }
}

.p-about__action {
  max-width: 440px;
  display: flex;
  margin-top: 10px;

  justify-content: flex-end;
}
// .p-about__profile {
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
//   margin-top: 40px;

//   @include mq(tb) {
//     margin-top: 64px;
//     flex-direction: row;
//     gap: 120px;
//   }
// }

// .p-about__photo {
//   width: 100%;
//   max-width: 200px;
//   margin: 0 auto;

//   @include mq(tb) {
//     max-width: 400px;
//     margin: 0 auto;
//   }
// }

// .p-about__intro {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .p-about__name-en {
//   margin-bottom: 24px;
//   font-size: 24px;
//   font-weight: 700;
//   line-height: 1.35;
//   letter-spacing: -0.01em;
//   border-bottom: 1px solid $color-text-sub;

//   @include mq(pc) {
//     margin-bottom: 32px;
//     font-size: 32px;
//     line-height: 1.25;
//     letter-spacing: -0.015em;
//   }
// }

// .p-about__text {
//   font-size: 14px;
//   line-height: 1.7;
//   letter-spacing: 0.01em;

//   @include mq(pc) {
//     font-size: 16px;
//   }

//   & + & {
//     margin-top: 8px;

//     @include mq(pc) {
//       margin-top: 14px;
//     }
//   }
// }

// .p-about__action {
//   display: flex;
//   align-items: center;
//   gap: 24px;
//   margin-top: 32px;

//   @include mq(pc) {
//     gap: 32px;
//     margin-top: 80px;
//   }
// }

// .p-about__more {
//   align-self: flex-end;
// }

// =====================================
// Page
// =====================================
.p-about--page {
  padding: 64px 0 0;

  @include mq(pc) {
    padding: 128px 0 0;
  }
}

.p-about__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 32px;

  @include mq(tb) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 64px;
  }

  @include mq(pc) {
    gap: 180px;
  }
}

.p-about__description {
  line-height: 1.7;
  letter-spacing: 0.05em;
  margin: 24px 0;

  @include mq(pc) {
    font-size: 18px;
    margin: 40px 0;
  }

  & + & {
    margin-top: 12px;

    @include mq(pc) {
      margin-top: 16px;
    }
  }
}

.p-about__meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-about__meta-label {
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  font-family: $font-mincho;
  color: $color-text-sub;
  border-bottom: 1px solid $color-border;
  margin-top: 12px;

  @include mq(pc) {
    font-size: 18px;
  }
}

.p-about__meta-value {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-weight: 500;
  margin-top: 18px;

  @include mq(pc) {
    font-size: 20px;
  }
}

.p-about__block {
  margin-top: 48px;

  @include mq(pc) {
    margin-top: 96px;
  }
}
