@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// =====================================
// Common
// =====================================
.p-works-detail {
  padding: 64px 0 0;
  background-color: $color-bg-main;

  @include mq(pc) {
    padding: 128px 0 0;
  }
}

.p-works-detail__inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

// =====================================
// Hero
// =====================================
.p-works-detail__hero {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq(tb) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  @include mq(pc) {
    gap: 60px;
  }
}

.p-works-detail__thumb {
  max-width: 450px;
}

.p-works-detail__hero-text {
  display: flex;
  flex-direction: column;
}

.p-works-detail__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: -0.01em;

  @include mq(pc) {
    font-size: 28px;
  }
}

.p-works-detail__description {
  margin-top: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;

  @include mq(pc) {
    font-size: 18px;
  }
}

.p-works-detail__meta {
  display: flex;
  flex-direction: column;
}

.p-works-detail__meta-label {
  margin-top: 12px;
  font-family: $font-mincho;
  font-size: 16px;
  line-height: 1.7;
  color: $color-text-sub;
  letter-spacing: 0.01em;
  border-bottom: 1px solid $color-border;

  @include mq(pc) {
    font-size: 18px;
  }
}

.p-works-detail__meta-value {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.05em;

  @include mq(pc) {
    font-size: 20px;
  }

  a {
    display: block;
    word-break: break-all;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: $color-text-main;
    text-underline-offset: 4px;
    transition: text-decoration-color 0.3s ease;

    &::after {
      display: inline-block;
      padding: 4px;
      margin-left: 12px;
      font-size: 14px;
      line-height: 1;
      vertical-align: middle;
      content: "↗";
      border: 1px solid $color-text-main;
      border-radius: 4px;
    }

    @include mq(pc) {
      &:hover {
        color: $color-text-sub;
        text-decoration-color: $color-text-sub;
      }
    }
  }
}

// =====================================
// Overview
// =====================================
.p-works-detail__overview {
  margin-top: 64px;

  @include mq(pc) {
    margin-top: 96px;
  }
}

.p-works-detail__overview-body {
  margin: 24px 0;
  line-height: 1.7;
  letter-spacing: 0.05em;

  @include mq(pc) {
    margin: 40px 0;
    font-size: 18px;
  }

  p + p {
    margin-top: 12px;

    @include mq(pc) {
      margin-top: 16px;
    }
  }
}

// =====================================
// Points
// =====================================
.p-works-detail__points {
  margin-top: 64px;

  @include mq(pc) {
    margin-top: 96px;
  }
}

.p-works-detail__points-list {
  margin: 24px 0;

  @include mq(pc) {
    margin: 40px 0;
    font-size: 18px;
  }
}

.p-works-detail__point-title {
  display: inline;
  font-size: 18px;
  line-height: 1.7;
  color: $color-text-sub;
  letter-spacing: 0.05em;
  border-bottom: 2px solid $color-border;
  box-decoration-break: clone;

  @include mq(pc) {
    font-size: 20px;
  }
}

.p-works-detail__point-text {
  margin: 12px 0 18px;
  line-height: 1.7;
  letter-spacing: 0.05em;

  @include mq(pc) {
    margin: 12px 0 16px;
    font-size: 18px;
  }
}
