@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-eyebrow {
  font-family: $font-mincho;
  font-size: 24px;
  font-weight: 500;
  color: $color-text-main;
  letter-spacing: 0.05em;
  border-bottom: 1px solid $color-border;

  @include mq(tb) {
    font-size: 32px;
  }

  @include mq(pc) {
    letter-spacing: 0.01em;
  }
}
