@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.c-sns {
  display: flex;
  gap: 24px;
}

.c-sns__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  @include mq(pc) {
    &:hover {
      .c-sns__icon {
        filter: drop-shadow(0 6px 8px rgb(0 0 0 / 20%));
        transform: translateY(-4px);
      }
    }
  }
}

.c-sns__icon {
  display: block;
  width: 28px;
  height: 28px;

  @include mq(pc) {
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
  }
}
