@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

.p-about {
  padding: 64px 0;
  background-color: $color-bg-main;

  @include mq(pc) {
    padding: 96px 0;
  }
}

.p-about__inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.p-about__profile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;

  @include mq(tb) {
    margin-top: 64px;
    flex-direction: row;
    gap: 120px;
  }
}

.p-about__photo {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;

  @include mq(tb) {
    max-width: 400px;
    margin: 0;
  }
}

.p-about__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-about__name-en {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: -0.01em;
  border-bottom: 1px solid $color-text-sub;

  @include mq(pc) {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.015em;
  }
}

.p-about__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;

  @include mq(pc) {
    font-size: 16px;
  }

  & + & {
    margin-top: 8px;

    @include mq(pc) {
      margin-top: 14px;
    }
  }
}

.p-about__action {
  display: flex;
  align-items: center;
  margin-top: 32px;
  gap: 24px;

  @include mq(pc) {
    margin-top: 80px;
    gap: 32px;
  }
}

.p-about__more {
  align-self: flex-end;
}
